* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body, #root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #eeeff1;
  font-family: "Roboto", sans-serif;
}
